h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

p::first-line{
    background-color: rgb(250, 250, 171);
}

p::selection{
    color: rgb(27, 172, 8);
    background-color: rgb(38, 29, 46);
}


#fruit li::before{
    content: "👀";
}

#apple::after{
    content: "🍎";
}

#orange::after{
    content: "🍊";
}

#banana::after{
    content: "🍌";
}

#fruit li::marker{
    content: "✔";
    color: rgb(35, 163, 35);
    font-size: 1.5em;
}