h1{
    text-shadow: 3px 3px 5px red, -3px -3px 5px rgb(49, 145, 255);
    /*propiedades: vertical horizontal blur color, 
        se puede poner otro sombreado con coma*/
}

#box1{

    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    box-shadow: 3px 3px 5px black, -3px -3px 5px black;
    /*el mismo proceso anterior*/
}